<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M\(%line\) - %msg%n</Property>
        <Property name="APPLICATION_NAME">${bundle:logging:spring.application.name}</Property>
        <Property name="APP_LOG_ROOT">/var/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="fileLogger"
            fileName="${APP_LOG_ROOT}/smslog/${APPLICATION_NAME}.log"
            filePattern="${APP_LOG_ROOT}/smslog/${APPLICATION_NAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="5500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>

    </Appenders>
    <Loggers>

        <Logger name="com.smartech" additivity="false">
            <AppenderRef ref="fileLogger" />
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="com.smartech" additivity="false">
            <AppenderRef ref="fileLogger" />
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="fileLogger" />
        </Root>
    </Loggers>
</Configuration>